<app-x-page-title title="Change Password"></app-x-page-title>

<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

    <ng-template [ngIf]="!viaSecurityToken">
        <div class="form-group row mb-3 required">
            <!-- Old Password -->
            <label for="oldPassword" class="col-sm-3 col-form-label control-label">
                Old Password
            </label>
            <div class="col-sm-9">
                <input pInputText formControlName="old_password" type="password" class="form-control" id="fullName"
                    placeholder="Enter old password" required>
            </div>
        </div>
    </ng-template>

    <div class="form-group row mb-3 required">
        <!-- New Password-->
        <label for="new_password" class="col-sm-3 col-form-label control-label">
            New Password
        </label>
        <div class="col-sm-9">
            <app-x-password formControlName="new_password" placeholder="Enter new password"></app-x-password>
        </div>
    </div>

    <div class="form-group row mb-3 required">
        <!-- Password (confirm) -->
        <label for="new_password_confirm" class="col-sm-3 col-form-label control-label">
            New Password (Confirm)
        </label>
        <div class="col-sm-9">
            <app-x-password formControlName="new_password_confirm"
                placeholder="Enter new password again"></app-x-password>
            <div *ngIf="passwordMatchError">
                <div class="text-danger">Passwords does not match</div>
            </div>
        </div>
    </div>

    <!-- Button -->
    <button pButton class="p-button-success " [disabled]="!changePasswordForm.valid">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Change Password</button>
</form>