<div class="input-group">
    <input pInputText
        [id]="id"
        [disabled]="disabled"
        [type]="passwordFieldTextType ? 'text' : 'password'" class="form-control" id="password"
        placeholder="{{ placeholder }}"
        [(ngModel)]="value"
        (ngModelChange)="onChange($event)"
        (blur)="OnTouched(true)"
    >
    <span class="input-group-text">
        <i class="fa" [ngClass]="{'fa-eye-slash': !passwordFieldTextType,'fa-eye': passwordFieldTextType}"
            (click)="togglePasswordFieldTextType()"></i>
    </span>
</div>